html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#head {
    background-color: rgb(1, 186, 1);
    color:white;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 14.5%;
    z-index: 100;
}

img{ 
    background: transparent;
}

.image-container {
    position:relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 7%;
  }

.top-left-image-text {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: left;
}

.bottom-left-image-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: greenyellow;
}

#title { 
    padding: 20px 0px;
    text-align: center;
    font-size: 60px;
    color: white;
}

body{
    margin: 0px
}

#intro { 
    margin: 0px 0px
} 

.website {
    overflow-y: auto;
    width: 100%;
}

.sectionTitle { 
    font-size: 24px;
    font-weight: bold;;
    margin: 5px 20%;
}
.sectionContent {
    font-size: 20px;
    margin: 5px 20% 30px 20%;
    text-align: justify;
}

.viz-title {
    text-align: center;
    color:gray;
    font-size: 20px;
}

.radar-chart-global {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.radar-chart {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.multi-set-bar-chart {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.connected-dot-plot {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stacked-bar-chart {
    display: flex;
    flex-direction: row;
    height: 620px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.multi-set-bar-chart-2 {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-svg {
    background-color: #EBF2FA;
}

.tooltip {
    position: fixed;
    transition: all;
    background-color: rgba(80, 80, 80, 1.0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    max-width: 210px;
    word-break: normal;
}

.levels path {
    fill: none;
    stroke: #000;
}

.grid-lines path {
    stroke: coral;
}

.tick-lines path {
    stroke: rgb(228, 16, 16);
    stroke-width: 2px;
}

.chart circle {
    cursor: pointer;
}

.labels text {
    cursor: pointer;
}

.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="pie-chart-"] {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

div[id^="viz-title-"] {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="radio-button-"] {
    margin-left: 5%;
}

.helpicon {
    margin-left: 0.3%;
    margin-right: 3%;
}

.pie-chart .legend {
    margin-left: 2%;
}