.website {
    overflow-y: auto;
}

.viz-title {
    text-align: center;
    color:gray;
    font-size: 20px;
}

.radar-chart-global {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.radar-chart {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.multi-set-bar-chart {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-svg {
    background-color: #EBF2FA;
}

.tooltip {
    position: fixed;
    transition: all;
    background-color: rgba(80, 80, 80, 1.0);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    max-width: 200px;
    word-break: normal;
}

.levels path {
    fill: none;
    stroke: #000;
}

.grid-lines path {
    stroke: coral;
}

.tick-lines path {
    stroke: rgb(228, 16, 16);
    stroke-width: 2px;
}

.indicebaseline {
    fill: rgb(255, 127, 80);
}

.indiceNeymar {
    fill: rgb(0, 0, 255);
}

.shapeBaseline path {
    stroke: rgb(255, 127, 80);
    fill: rgba(255, 127, 80);
    opacity: 0.5;
}

.shapeNeymar path {
    stroke: rgb(0, 0, 255);
    fill: rgba(0, 0, 255);
    opacity: 0.5;
}

.chart circle {
    cursor: pointer;
}

.labels text {
    cursor: pointer;
}

.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="pie-chart-"] {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

div[id^="viz-title-"] {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id^="radio-button-"] {
    margin-left: 5%;
}

.helpicon {
    margin-left: 0.3%;
    margin-right: 3%;
}